.userDetails {

  display: flex;
  align-items: center;
  font-size: medium;
}

.userDetails h4 {
  margin-right: 0.20rem;
  font-size: medium;
}

.userDetails img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.h4 {
  font-size: 1.5em;
  color: white;
}







.picture {
  margin-left: 0.5em;

}