.row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    margin:5px;
    margin-left: 5%;
    border: 1px solid #ddd;
    border-radius: 0.7rem;
    padding: 5px 10px;
    width: 80%;
    cursor: pointer;
   -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.50s ease-out;
    z-index:1;
    background-color: #f7f7f7;
  }
  .row:hover {
    transform: scale(1.05);
    z-index:2;
  }
  .row p {
    text-align: left;
    margin: 0 10px;
    background-color: #f7f7f7;
  }
  

