.mainDiv {
    margin-top: 6em;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: 20% 80%;

}

.divMenuFilter {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin-top: 2em;
}

.divCard {
    grid-column-start: 2;
    margin-top: 2em;
    display: flex;
    width: 100%;
    border: 1px solid blue;
}