.mainDiv {
    margin-top: 1em;
    margin-bottom: 10em;
    display: grid;
    grid-template-columns: 18% 82%;
    grid-template-rows: 12em 1fr;

}

.divMenuFilter {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    margin-left: 2em;
    border: 1px solid #332F2A;
    border-radius: 5px;

    align-items: flex-start;
    height: 25em;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;

    background-color: rgb(217, 206, 179);
    border: 2px solid #b18454;
    border-radius: 1rem;
}

.divCard {
    grid-row-start: 2;

    grid-column-start: 2;
    margin-top: 2em;
    display: flex;
    width: 100%;
}

.divHeaderImg {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    grid-row-start: 1;
    align-items: center;
    overflow-y: hidden;
    height: 10em;
    margin-top: 1em;

}

.headerImg {
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: center;
    overflow-y: hidden;
    border-radius: 20px;


}

.optionText {
    color: black;
}

.spanTitle {
    justify-self: flex-start;
}

.orderDiv {
    width: 100%;
}

.h3Title {

    align-self: center;
}

@media only screen and (max-width: 900px) {
    .mainDiv {
        margin-top: 1em;
        margin-bottom: 10em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 12em 10em 1fr;

    }

    .divMenuFilter {
        grid-row-start: 2;
        margin-left: 1.4em;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: 8em;
        width: 90%;
        padding-left: 0.5em;
        margin-top: 0em;
    }

    .h3Title {
        font-size: 1.2em;
        grid-row-start: 1;
        grid-column: span 3;
    }

    .divCard {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .categoryDiv {
        grid-row-start: 2;
        grid-column-start: 1;
        display: flex;
        flex-direction: column;
        margin-right: 0.3em;
    }

    .orderDiv {
        grid-row-start: 2;
        grid-column-start: 2;
        display: flex;
        flex-direction: column;
        margin-left: 0.3em;
    }

    .divHeaderImg {
        margin-top: 0em;
        width: 100%;
        height: 8em;
    }
}


/* ////////////ESTA PARTE ES DEL MODAL */

.bigDivModal {
    padding: none;

}

.secondDivModal {
    margin-top: 5em;
    padding: none;
    width: 70%;
    max-width: none;
    max-height: none;

}

.divContentModal {
    max-width: none;
    width: 100%;
    max-height: none;
    height: 70vh;
}

/* ////////////ADENTRO DEL MODAL */
.divBodyModal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 20% 70% 5%;

}

.h2Modal {
    grid-row-start: 2;
    grid-column: 2;
    font-size: 2.5rem;
}

.imgModal {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    width: 90%;
    height: 100%;
    margin-left: 1em;
    border-radius: 5px;
    margin-top: 0.25em;
    object-fit: cover;
}

.pModal {
    grid-row-start: 3;
    grid-column-start: 2;
    font-size: 2em;
    margin-right: 1em;
    text-align: justify;
}

.divButton {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3em;
    margin-top: 1em;
}

.buttonModal {
    background-color: #DB9144;
    border: none;
    width: 2.2em;
    height: 2.2em;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

.buttonModal:hover {
    background-color: #5C534A;
}

.buttonModal:active,
.buttonModal:focus {
    background-color: rgb(219, 145, 68, 0.9);
}