.button {

    background-color: #B18454;
    outline: none;
    background: accent;
    width: 10em;
    max-height: 4rem;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: white;
    font-family: inherit;
    font-size: inherit;
    font-weight: semibold;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: rgb(177, 132, 84, 0.5);
  }
  
  .button:active {
    transform: translateY(2px);
    /* Efecto de hundimiento en click */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    /* Sombra ligera en click */
  }