.out {
    font-size: 1.3em;
    color: white;
}

.out:hover {
    color: #DB9144;
}

.in {
    font-size: 1.3em;
    color: white;
}

.in:hover {
    color: #DB9144;
}

@media only screen and (max-width: 768px) {

    /* Estilos a aplicar para dispositivos con una pantalla de 768px o menos de ancho */
    .in {
        display: none;
    }
}