.mainContainer {
  overflow: hidden;
  width: 100%;
  height: 15em;
  background-color: #5C534A;


}

.wrapper {
  display: flex;
  transition: transform 1s ease;
  height: 12em;
  border: 1px solid red;
}

.image {
  height: 10em;
  width: auto;

}