.nav {
  /* Tuve que cambiar position a fixed y agregar el z-index en 1000 para que no se desaparezca al scrolear*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;


  /* Posiciona la navbar sobre el contenido */
  display: grid;
  grid-template-columns: 40% 30% 10% 20%;
  background-color: #332F2A;
  width: 100%;
  height: 6em;
  margin-bottom: 0.25rem;

  /* Añadido para dar espacio en los lados */
  transition: transform 0.3s ease-in-out;
}

.userDetails {
  grid-column-start: 4;
  color: white;
  z-index: 3;
  border: 1px solid white;
  border-radius: 5px;
  height: 3em;
  width: 4em;
  align-self: center;
  justify-self: right;
  margin-right: 2em;


}

.togglerIcon {
  font-size: 1.6em;
}



.botones {
  color: white;
  cursor: pointer;
  transition: all 0.3s;

}

.botones:hover {
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

.botones:active {
  text-shadow: none;
  color: black;
}

.login {
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding-left: 10em;
}

.linksH3 {
  color: white;
  font-size: 1em;
  margin-left: 1.6em;
}

.linksH3:hover {
  color: #DB9144;
  cursor: pointer;
}

.linksH3:active {
  color: red;
}

/*la idea de esto es que se active en rojo cuando estas posicionado en esa seccion*/

.logo {
  grid-column-start: 1;
  grid-column-end: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0.5em;
  padding-left: 4em;
}

.logoImg {
  height: 2.5em;
  width: auto;
  align-self: center;
}

.dropDownButton {
  background-color: rgb(177, 132, 84, 0.9);
  height: 3.4em;
  width: 3.4em;
  border-radius: 50%;
  margin-right: 2em;
}

.dropDownButton:hover {
  background-color: rgb(177, 132, 84, 0.7);
  transform: scale(1.1);
}

.dropDownButton:active {
  transform: translateY(1px);
  transition: 0.2s ease;
}

.dropDownButtonHidden {
  display: hidden;
  background: none;
  border: none;
}

.dropDownButtonHidden:hover {
  background: none;

  transform: scale(1.1);
  transition: 0.2s ease;
}

.dropDownButtonHidden:active {
  background-color: transparent;
  transform: translateY(1px);
  transition: 0.2s ease;
  border: none;
}

.dropDownButtonHidden:focus {
  background-color: transparent;
}


.dropdownMenu {
  background-color: rgb(92, 83, 74);
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

}

.userLogo {
  height: 1.8em;
  width: auto;

}

.out {
  font-size: 1.3em;
  color: white;
}

.out:hover {
  color: #DB9144
}

/*/////////// pantalla celular */
@media only screen and (max-width: 900px) {

  /* Estilos a aplicar para dispositivos con una pantalla de 768px o menos de ancho */
  .login {
    display: none;
  }

  .userData {
    display: none;
  }

  .logoImg {
    height: 2.5em;
    width: auto;
    padding-left: 2em;
  }

  .linksH3 {
    font-size: 1.4em;
    margin-right: 1em;
  }



  .pictureDeployMenu {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
  }

  .divHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .titleDeployMenu {
    align-self: flex-start;
  }
}



/*///////// pantalla grande */
@media only screen and (min-width: 900px) {

  .nav {
    grid-template-columns: 30% 30% 10% 30%;
  }

  .userDetails {
    grid-column-start: 3;
    display: none;
  }

  .userData {
    grid-column-start: 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 6.5em;

  }

  .dropDownButton {
    margin-left: 3em;
  }

}

@media only screen and (min-width: 1200px) {
  .logoImg {
    height: 3em;

  }
}