.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Posiciona la navbar sobre el contenido */
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 254);
    width: 100vw;
    height: 5rem;
    margin-bottom: 0.25rem;
    border: 1px solid grey;
    padding: 0 1.25rem; /* Añadido para dar espacio en los lados */
    transition: transform 0.3s ease-in-out;
  }
  
 